<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="imageRouting" type="XOGroup.Image.IO.SectionConfigHandler, XOGroup.Image.IO" />
    </configSections>

    <imageRouting>
        <settings>
            <add name="service" value="on"/>
            <add name="cdnCache" value="on"/>
            <add name="watermark" value="on"/>
            <add name="debug" value="off"/>
        </settings>
        <format>
            <add value="jpg"/>
            <add value="jpeg"/>
            <add value="gif"/>
            <add value="png"/>
        </format>
        <cacheTime>
            <add name="all" value="7.00:00:00"/>
            <add name="jpg" value="3.00:00:00"/>
        </cacheTime>
        <namingSize>
            <add name="l" value="800"/>
            <add name="m" value="320"/>
            <add name="s" value="240"/>
            <add name="c" value="160"/>
            <add name="t" value="120"/>
            <add name="wl" value="800x400"/>
        </namingSize>
        <watermark>
            <add name="www.ijie.com" value="font:name=微软雅黑;size=36;color=Blue;text=www.ijie.com"/>
            <add name="msn.ijie.com" value="http://content1.ijie.cn/"/>
        </watermark>
    </imageRouting>
</configuration>